@font-face {
  font-family: ramFont;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url("./ramFont.woff2") format("woff2"),
    url("./ramFont.woff") format("woff"),
    url("./ramFont.ttf") format("truetype");
}
