body {
  width: 100vw;
  height: 100vh;

  color: #fff;

  background: url('/assets/images/bg.webp') no-repeat center center fixed;
  background-size: cover;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
}

.title {
  font-family: ramFont, sans-serif;
  font-size: 3rem;
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;

  margin: 0;
  padding: 0;
  padding-block: 40px;

  list-style: none;
}

.header {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

@media screen and (width <= 768px) {
  .header {
    flex-direction: column;
  }
}

.noResults {
  font-size: 1.5rem;
  text-align: center;
}

.searchQuery {
  font-size: 2rem;
  color: #de0a5e;
}
