.item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;

  font-size: 1rem;
  color: #000;

  background-color: #dff9f9c2;
}

.characterImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.description {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
}
